* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: monospace, sans-serif;
}

header h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  background-image: linear-gradient(
    to left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text;
  color: transparent;
}

.content {
  padding: 20px;
  column-count: 3;
  margin: 3rem 0;
  column-gap: 10rem;
}

.description {
  line-height: 30pt;
}

.description h2 {
  font-size: 2.8rem;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    to left,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
}

.description p {
  font-size: 1.8rem;
}

.bgImg {
  height: 300px;
  width: 80%;
  margin: 0 auto;
  background-image: url("./img.png");
  background-position: center;
  background-size: cover;
}

.ball-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.ball {
  animation: ball-animation 5s ease-out infinite;
}

@keyframes ball-animation {
  0% {
    transform: translate(0, 0) rotate(0deg) skew(0deg);
  }
  25% {
    transform: translate(100px, -100px) rotate(45deg) skew(5deg, 5deg);
  }
  50% {
    transform: translate(0, 0) rotate(90deg) skew(0deg);
  }
  75% {
    transform: translate(-100px, -100px) rotate(135deg) skew(-5deg, -5deg);
  }
  100% {
    transform: translate(0, 0) rotate(180deg) skew(0deg);
  }
}
